<!-- app/views/shared/_navbar.html.erb -->
<nav class="bg-white border-b border-slate-200 shadow-sm">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">

      <!-- Logo / Titolo -->
      
      <div class="flex items-center space-x-3">
        <% if Current.domain&.square_logo_url.present?  %>
          <%= link_to root_path do %>
            <img src="<%= Current.domain.square_logo_url %>" alt="Logo"
                 class="h-10 w-10 object-contain   inline-block md:hidden ">
                     <img src="<%= Current.domain.horizontal_logo_url %>" alt="Logo lungo"
                 class="h-10 object-contain hidden md:flex ">
          
          <% end %>
        <% else %>
          <%= link_to root_path,
                      class: "font-bold text-lg text-slate-800 hover:text-slate-900" do %>
            <%= Current.domain&.title.presence || "PosturaCorretta" %>
          <% end %>
        <% end %>
      </div>
    

      <!-- Link principali dinamici -->
      <div class="hidden sm:flex space-x-6">
        <% domain_root = Current.domain&.taxbranch %>
        <% if domain_root.present? %>
          <% domain_root.children.home_nav.each do |branch| %>
            <%= link_to branch.display_label.capitalize, post_path(branch.post) ,class: "text-slate-700 hover:text-slate-900 font-medium" %>
          <% end %>
        <% else %>
          <!-- fallback -->
          <%= link_to "Home", root_path, class: "text-slate-700 hover:text-slate-900 font-medium" %>
        <% end %>
      </div>

      <!-- Area utente -->
      <div class="flex items-center space-x-4">
        <%#  authenticated? %> 
        <%#= Current.user.id  %>
        <%#= Current.taxbranch.id %>
        <%#= Current.domain.id %>

        <% if authenticated? %>
          
            
         
          
          <%= link_to "Dashboard",
                      dashboard_home_path,
                      class: "text-slate-700 hover:text-slate-900 font-medium" %>
     <% if Current.user.superadmin == true %>
        
          <%#= button_to "Logout",
                        main_app.session_path,
                        method: :delete,
                        class: "text-sm text-slate-500 hover:text-slate-700" %>
                         <% end %>
        <% else %>
          <%= link_to "Accedi",
                      main_app.new_session_path,
                      class: "px-3 py-2 text-sm rounded-md bg-slate-900 text-white hover:bg-slate-800" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
