<%= form_with(model: contact, class: "contents") do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul class="list-disc ml-6">
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:first_name].none?, "border-red-400 focus:outline-red-600": contact.errors[:first_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:last_name].none?, "border-red-400 focus:outline-red-600": contact.errors[:last_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :lead_id %>
    <%= form.text_field :lead_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:lead_id].none?, "border-red-400 focus:outline-red-600": contact.errors[:lead_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:email].none?, "border-red-400 focus:outline-red-600": contact.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:phone].none?, "border-red-400 focus:outline-red-600": contact.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:date_of_birth].none?, "border-red-400 focus:outline-red-600": contact.errors[:date_of_birth].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :place_of_birth %>
    <%= form.text_field :place_of_birth, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:place_of_birth].none?, "border-red-400 focus:outline-red-600": contact.errors[:place_of_birth].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fiscal_code %>
    <%= form.text_field :fiscal_code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:fiscal_code].none?, "border-red-400 focus:outline-red-600": contact.errors[:fiscal_code].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :vat_number %>
    <%= form.text_field :vat_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:vat_number].none?, "border-red-400 focus:outline-red-600": contact.errors[:vat_number].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :billing_name %>
    <%= form.text_field :billing_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:billing_name].none?, "border-red-400 focus:outline-red-600": contact.errors[:billing_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :billing_address %>
    <%= form.text_field :billing_address, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:billing_address].none?, "border-red-400 focus:outline-red-600": contact.errors[:billing_address].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :billing_zip %>
    <%= form.text_field :billing_zip, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:billing_zip].none?, "border-red-400 focus:outline-red-600": contact.errors[:billing_zip].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :billing_city %>
    <%= form.text_field :billing_city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:billing_city].none?, "border-red-400 focus:outline-red-600": contact.errors[:billing_city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :billing_country %>
    <%= form.text_field :billing_country, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:billing_country].none?, "border-red-400 focus:outline-red-600": contact.errors[:billing_country].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta %>
    <%= form.text_field :meta, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:meta].none?, "border-red-400 focus:outline-red-600": contact.errors[:meta].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
