<div id="<%= dom_id domain %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Host:</strong>
    <%= domain.host %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Language:</strong>
    <%= domain.language %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= domain.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= domain.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Favicon url:</strong>
    <%= domain.favicon_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Square logo url:</strong>
    <%= domain.square_logo_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Horizontal logo url:</strong>
    <%= domain.horizontal_logo_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= domain.provider %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Taxbranch:</strong>
    <%= domain.taxbranch_id %>
  </div>
</div>
