<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= post.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= post.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cover url:</strong>
    <%= post.cover_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Video url:</strong>
    <%= post.video_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= post.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= post.published_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Visibility:</strong>
    <%= post.visibility %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= post.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= post.slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Folder path:</strong>
    <%= post.folder_path %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subdomain:</strong>
    <%= post.subdomain %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Service key:</strong>
    <%= post.service_key %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= post.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= post.tags %>
  </div>
</div>
